    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Construindo o Brasil Digital - Dia 18 de Novembro de 2016</h2>
              <br/>
                <body>
                   <h3>
                       
                        <p>
                            Esta será a primeira edição de uma conferência que buscará, anualmente, propor debates sobre as principais agendas do Desenvolvimento do Brasil.
                        </p>
                        <p>
                            A edição deste ano terá enfoque na concepção de um Brasil Digital, promovendo um debate sobre o papel da inovação e das novas tecnologias da informação como ferramentas de construção de um futuro sólido e promissor para o país.
                        </p>
                        <p>
                            O evento é organizado em três pilares, cujas perguntas-chave orientarão as discussões a serem conduzidas por nossos convidados:
                        </p>
                    </h3>
                </body>
                <br><br/>
                <div>
                    <img class="img-responsive" src="/img/3-pilares.png" alt="três pilares da conferência" />
                </div>
                <br/>
                <br/><br/>
                </div>
        </div>
    </section>
