<section id="apoio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Apoio</h2>
                </div>
            </div>
            <div class="row">
            {% for parceiro in site.parceiros %}
                <div class="col-lg-12 text-center">
                    <a href="{{ parceiro.url }}" class="apoio-link" data-toggle="modal">
                        <img src="img/logos/{{ parceiro.logo }}" class="logo-box" alt="">
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
        <br>
        <br>
</section>

<!--img-responsive img-centered <div class="col-md-2 col-sm-3 apoio-item">
    <!--<section id="apoio" class="container content-section text-center">
        <div class="row">
            <div class="col-1-1">
              <hr class="sec-divider">
                <br>
              <h2>Apoio:</h2>
            </div>
              <br><br/>
            <div class="row">
            <body>
                {% for parceiro in site.parceiros %}
                <div class="col-md-3 col-sm-6">
                    <a href="{{parceiro.url}}">
                        <img src="/img/logos/{{parceiro.logo}}" class="img-responsive-logo" alt="">
                    </a>
                            {% endfor %}
                 </div>
             </body>
            </div>
                <body>
                   <div class="col-md-3 col-sm-6">
                       <a href="#">
                        <img src="img/logos/publix.png" class="img-responsive img-centered" alt="">
                    </a>
                   </div>
                    <br>
                    <br/>
                   <div class="col-md-3 col-sm-6">
                       <a href="#">
                       <img src="img/logos/republica.png" class="img-responsive img-centered" alt="" width="140px">
                    </a>
                    </div>
                </body>
                <br><br/>
            <br>
            <br>
            
                </div>
            <hr class="sec-divider">
            <br>
        </div>
    </section> -->
