    <!-- About Section -->
    <section id="apoio" class="container content-section text-center">
        <div class="row">
            <div class="col-1-1">
              <hr class="sec-divider">
                <br>
              <h2>Apoio:</h2>
            </div>
              <br><br/>
            <div class="row">
                {% for parceiro in site.parceiros %}
                <div class="col-md-3 col-sm-6">
                    <a href="{{parceiro.url}}">
                        <img src="{{parceiro.logo}}" class="img-responsive img-centered" alt="">
                    </a>
                            {% endfor %}
            <!--</div>
                <body>
                   <div class="col-md-3 col-sm-6">
                       <a href="#">
                        <img src="img/logos/publix.png" class="img-responsive img-centered" alt="">
                    </a>
                   </div>
                    <br>
                    <br/>
                   <div class="col-md-3 col-sm-6">
                       <a href="#">
                       <img src="img/logos/republica.png" class="img-responsive img-centered" alt="" width="140px">
                    </a>
                    </div>
                </body>
                <br><br/>
            <br>
            <br> -->
            </div>
                </div>
            <hr class="sec-divider">
            <br>
        </div>
    </section>
