<section id="bolsas">

        <div class="container">
           <hr class="section-heading-spacer">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Programa de Bolsas</h2>
                    <h3 class="text-muted">O Brasil precisa de você!</h3>
                    <br>
                    <div class="lead"><p>Estamos selecionando 3 jovens para virem ao Rio de Janeiro participar da Conferência.</p>

<p>Seja um deles!</p>

<p>Confira o Edital de Bolsa e inscreva-se até o dia 11 de Novembro de 2016!</p>

<hr />

<div class="row">
  <div class="col-md-6">
    <a href="material/edital.pdf" target="_blank">
      <button class="btn-inscr-g" style="width:148px">Edital</button>
    </a>
  </div>
  <div class="col-md-6">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfI8fG3MAdV0bsfz_lAeYyaNUdFBfqFmtV4GrBK6bdp_vTl1w/viewform" target="_blank">
      <button class="btn-inscr-g">Inscreva-se</button>
    </a>
  </div>
</div>
</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/services/embaixadores.png" alt="os nossos três embaixadores">
                </div>
            </div>

        </div>
        <!-- /.container -->

</section>
