<section id="contato">
	<div class="container">
		<div class="row text-center">
			<hr class="section-heading-spacer">
			{% for network in site.social %}
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                        <a href="{{ network.url }}" target="_blank"> <button class="btn-inscr-g"><i class="fa fa-{{ network.title }}"></i> {{ network.title }} </button></a>
			</div>
			{% endfor %}
		</div>
	</div>
	<!--<div class="banner">
		<div class="container">

			<div class="row">
				 <div class="col-lg-6">
					<h2>Contato:</h2>
				</div>
				<div class="col-lg-6">
					<ul class="list-inline banner-social-buttons">
						<li>
							<a href="mailto:labfgv@gmail.com?subject=[contato] Conferência Desafio Brasil" class="btn btn-default btn-lg"><i class="fa fa-mail-reply fa-fw"></i> <span class="glyphicon glyphicon-envelope"></span></a>
						</li>
						<li>
							<a href="https://www.facebook.com/conferenciadesafiobrasil" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">facebook</span></a>
						{% for social in site.social %}
						<li>
							<a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
						</li>
						{% endfor %}
					</ul> 
				</div>
			</div> 

		</div>

	</div>-->
</section>
