<!-- Importante redimensionar de acordo com o numero de pessoas; textos tem de estar mais ou menos do mesmo tamanho, se adicionar mais gente precisa de colocar o código de governo digital pros outros; liquid https://help.shopify.com/themes/liquid/tags/iteration-tags https://github.com/Shopify/liquid/wiki/Liquid-for-Designers#for-loops -->
    <section id="convidados" class="bg-light-gray">
        <div class="container">
            <div class="row">
		    	<hr class="section-heading-spacer">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Convidados</h2>
                </div>
            </div>
			<br>
			<!-- sociedade digital -->
			<div class="row">
				<h2 class="section-subheading text-muted" align="center">
					Sociedade Digital
				</h2>
			</div>
			{% assign tema_people = site.people | where:"tema","educ" | where:"palestra","s" %}
			{% assign nrows = tema_people | size | divided_by: 4.0 | ceil %} <!-- has to be 4.0 or else divided_by will floor the number, and we gotta ceil it; think of 5 people example -->
			{% for i in (1..nrows) %}
			{% capture startpoint %}{{ i | times: 4 | minus: 4}}{% endcapture %}
			<br>
            <div class="row">
                {% for person in tema_people limit:4 offset:startpoint} %} <!-- offset conta as iterações, e não só as iterações que passaram no teste if abaixo--> <!-- a ordem de limit e offset importa! -->
				<div class="col-lg-3 col-sm-6 col-xs-12"> <!-- col-lg-5ths col-lg-3 col-md-4 col-xs-6 -->
					<div class="team-member text-center">
						<img src="img/team/{{ person.pic }}" class="img-responsive img-circle" alt="{{ person.name }}">
						<h4>{{ person.name }}</h4>
						<p class="text-muted">{{ person.minibio }}</p>
						<ul class="list-inline social-buttons">
							<li>
								<a class="page-scroll" href="#divisao"><img src="img/pilares/i-gt.png" width="15px" alt="presente no grupo de trabalho"></a>
							</li>
						{% for network in person.social %}
							<li>
								<a href="{{ network.url }}" target="_blank">
									<i class="fa fa-{{ network.title }}"></i>
								</a>
							</li>
                        {% endfor %}
						</ul>
                    </div>
               	</div>
                {% endfor %}
				<br>
			</div>
			{% endfor %}
			<br>
			<!-- gov digital -->
			<div class="row">
				<h2 class="section-subheading text-muted" align="center">
					Governo Digital
				</h2>
			</div>
			{% assign tema_people = site.people | where:"tema","gov" | where:"palestra","s" %}
			{% assign nrows = tema_people | size | divided_by: 4.0 | ceil %}
			{% for i in (1..nrows) %}
			{% capture startpoint %}{{ i | times: 4 | minus: 4}}{% endcapture %}
			<br>
            <div class="row">
                {% for person in tema_people limit:4 offset:startpoint} %} <!-- offset conta as iterações, e não só as iterações que passaram no teste if abaixo--> <!-- a ordem de limit e offset importa! -->
				<div class="col-lg-3 col-sm-6 col-xs-12"> <!-- col-lg-5ths col-lg-3 col-md-4 col-xs-6 -->
					<div class="team-member text-center">
						<img src="img/team/{{ person.pic }}" class="img-responsive img-circle" alt="{{ person.name }}">
						<h4>{{ person.name }}</h4>
						<p class="text-muted">{{ person.minibio }}</p>
						<ul class="list-inline social-buttons">
							<li>
								<a class="page-scroll" href="#divisao"><img src="img/pilares/i-gt.png" width="15px" alt="presente no grupo de trabalho"></a>
							</li>
						{% for network in person.social %}
							<li>
								<a href="{{ network.url }}" target="_blank">
									<i class="fa fa-{{ network.title }}"></i>
								</a>
							</li>
                        {% endfor %}
						</ul>
                    </div>
               	</div>
                {% endfor %}
				<br>
			</div>
			{% endfor %}
			<br>
			<!-- eco digital -->
			<div class="row">
				<h2 class="section-subheading text-muted" align="center">
					Economia Digital
				</h2>
			</div>
			{% assign tema_people = site.people | where:"tema","eco" | where:"palestra","s" %}
			{% assign nrows = tema_people | size | divided_by: 4.0 | ceil %}
			{% for i in (1..nrows) %}
			{% capture startpoint %}{{ i | times: 4 | minus: 4}}{% endcapture %}
			<br>
            <div class="row">
                {% for person in tema_people limit:4 offset:startpoint} %} <!-- offset conta as iterações, e não só as iterações que passaram no teste if abaixo--> <!-- a ordem de limit e offset importa! -->
				<div class="col-lg-3 col-sm-6 col-xs-12"> <!-- col-lg-5ths col-lg-3 col-md-4 col-xs-6 -->
					<div class="team-member text-center">
						<img src="img/team/{{ person.pic }}" class="img-responsive img-circle" alt="{{ person.name }}">
						<h4>{{ person.name }}</h4>
						<p class="text-muted">{{ person.minibio }}</p>
						<ul class="list-inline social-buttons">
							<li>
								<a class="page-scroll" href="#divisao"><img src="img/pilares/i-gt.png" width="15px" alt="presente no grupo de trabalho"></a>
							</li>
						{% for network in person.social %}
							<li>
								<a href="{{ network.url }}" target="_blank">
									<i class="fa fa-{{ network.title }}"></i>
								</a>
							</li>
                        {% endfor %}
						</ul>
                    </div>
               	</div>
                {% endfor %}
				<br>
			</div>
			{% endfor %}
			<br>
    </div>
</section>
