<section id="divisao">
	<div class="container">
		<div class="row">
			<hr class="section-heading-spacer">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-muted">A conferência Desafio Brasil está dividida em dois momentos.</h3>
			</div>
		</div>
		<br>
	</div>
	<div class="container">
		<div class="row text-center">
                <div class="col-md-6">
                    <img src="img/pilares/i-painel.png" width="120px" alt="painel">
                    <h2 class="service-heading">Painéis</h2>
                    <h4 class="text-muted">
						As palestras ocorrerão no Centro Cultural FGV e serão abertas ao público geral, bastando fazer sua inscrição. Elas serão compostas por keynote speakers e mesas temáticas para cada um dos pilares.
					</h4>
					<h4 class="text-muted">
					Conheça nossos palestrantes abaixo!
					</h4>
                </div>
                <div class="col-md-6">
                    <img src="img/pilares/i-gt.png" width="120px" alt="grupos de trabalho">
                    <h2 class="service-heading">Grupos de Trabalho</h2>
                    <h4 class="text-muted">
						Em paralelo as palestras, ocorrerão Grupos de Trabalho exclusivos para nossos convidados. Os Grupos de Trabalho reunirão stakeholders de diversos setores com o objetivando a prospecção de novas parcerias e sinergias ao redor de projetos.
					</h4>
                </div>
				<div class="col-md-12">
					<a href="material/hor-gt.pdf" target"_blank"> <button class="btn-inscr-b">Cronograma</button></a>
				</div>
		</div>
	</div>
</section>