<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#inscreva">inscreva-se</a>
                    </li>                    
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#sobre">sobre</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#apoiadores">apoio</a>
                    </li>
                    <!--<li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#convidados">convidados</a>
                    </li>-->                  
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contato">contato</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
