<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">home</a>
                    </li>                  
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#sobre">sobre</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#pessoas">pessoas</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#parceiros">parceiros</a>
                    </li>
                    <!--<li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#convidados">convidados</a>
                    </li>-->                  
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contato">contato</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
