<!-- Services Section -->
    <section id="pilares">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">A conferência Desafio Brasil está dividida em três pilares.</h3>
		    </div>
            </div>
		<br>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-responsive img-centered" src="img/pilares/governo-digital.png" alt="Governo Digital">
                    </span>
                    <h4 class="service-heading">Governo Digital</h4>
                    <p class="text-muted">
					<b>A Renovação do Estado</b>: qual o papel da tecnologia na reinvenção do Estado?
		    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-responsive img-centered" src="img/pilares/economia-digital.png" alt="Economia Digital">
                    </span>
                    <h4 class="service-heading">Economia Digital</h4>
                    <p class="text-muted">
					<b>Educação na Era da Internet</b>: como ultrapassar a barreira da qualidade do ensino básico brasileiro? Professores e tecnologia: como conciliá-los?
		    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                    <img class="img-responsive img-centered" src="img/pilares/sociedade-digital.png" alt="Educação Digital">
                    </span>
                    <h4 class="service-heading">Sociedade Digital</h4>
                    <p class="text-muted">
					<b>Transição para uma nova Economia</b>: como fazer a migração para uma economia do conhecimento? Qual o papel do empreendedorismo no novo modelo de geração de emprego e renda?
		    </p>
                </div>
            </div>
		<hr>
		<div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">A conferência Desafio Brasil está dividida em dois momentos.</h3>
		    </div>
            </div>
		<br>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <img class="img-responsive img-centered" src="img/pilares/painel.png" alt="Painéis">
                    </span>
                    <h4 class="service-heading">Painéis</h4>
                    <p class="text-muted">
			    <strong>As palestras serao abertas ao público, basta fazer inscrição.</strong> Teremos keynote speakers e mesas temáticas para cada um dos pilares. Conheça nossos palestrantes abaixo.
		    </p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <!--<img class="img-responsive img-centered" src="img/pilares/gt.png" alt="Grupos de Trabalho">-->
			    <i class="fa fa-users fa-3x"></i>
                    </span>
                    <h4 class="service-heading">Grupos de Trabalho</h4>
                    <p class="text-muted">
			    <b>Em paralelo as palestras</b>, ocorrerão reuniões de trabalho exclusivas para nossos convidados. Os grupos de trabalho terão como objetivo a prospecção de parcerias e sinergias ao redor de projetos. Estarão reunidos stakeholders de diversos setores, dentre eles academia, governo, sociedade civil e empresas, com o intuito de aprofundar o debate sobre o Brasil de uma maneira crítica e coletiva.
		    </p>
                </div>
            </div>
		<hr>
        </div>
</section>
