<!-- Services Section -->
<section id="pilares">
    <div class="container">
	    <hr class="section-heading-spacer">
        <div class="row">
		<br>
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A Conferência Desafio Brasil é organizada em três pilares</h2>
		    </div>
        </div>
		<br>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img class="img-responsive img-centered" src="img/pilares/governo-digital.png" alt="Governo Digital">
                </span>
                <h2 class="service-heading">Governo Digital</h2>
                <h3 class="text-muted">
					A Renovação do Estado:
				</h3>
				<h4 class="text-muted">
					Qual o papel da tecnologia na reinvenção do Estado?
				</h4>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img class="img-responsive img-centered" src="img/pilares/economia-digital.png" alt="Economia Digital">
                </span>
                <h2 class="service-heading">Economia Digital</h2>
                <h3 class="text-muted">
					Transição para uma nova Economia:
				</h3>
				<h4 class="text-muted">
					Como migrar para uma economia do conhecimento?		
				</h4>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img class="img-responsive img-centered" src="img/pilares/sociedade-digital.png" alt="Educação Digital">
                </span>
                <h2 class="service-heading">Sociedade Digital</h2>
                <h3 class="text-muted">
					Educação na Era da Internet:
				</h3>
				<h4 class="text-muted">
					Qual o papel da tecnologia na melhoria da qualidade de ensino?
				</h4>
            </div>
        </div>
	</div>
</section>
