<!-- Services Section -->
    <section id="pilares">
        <div class="container">
            <div class="row">
		<hr class="section-heading-spacer">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">A conferência Desafio Brasil possui três pilares.</h3>
		    </div>
            </div>
		<br>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-responsive img-centered" src="img/pilares/governo-digital.png" alt="Governo Digital">
                    </span>
                    <h2 class="service-heading">Governo Digital</h2>
                    <h3 class="text-muted">
			A Renovação do Estado:
		    </h3>
		    <h4 class="text-muted">
			Qual o papel da tecnologia na reinvenção do Estado?
		    </h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-responsive img-centered" src="img/pilares/economia-digital.png" alt="Economia Digital">
                    </span>
                    <h2 class="service-heading">Economia Digital</h2>
                    <h3 class="text-muted">
			Transição para uma nova Economia:
		    </h3>
		    <h4 class="text-muted">
			Como migrar para uma economia do conhecimento?		
		    </h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                    <img class="img-responsive img-centered" src="img/pilares/sociedade-digital.png" alt="Educação Digital">
                    </span>
                    <h2 class="service-heading">Sociedade Digital</h2>
                    <h3 class="text-muted">
			Educação na Era da Internet:
		    </h3>
		    <h4 class="text-muted">
			Qual o papel da tecnologia na melhoria da qualidade de ensino?
		    </h4>
                </div>
		<div class="col-md-12">
			<a href="material/hor-painel.pdf"> <button class="btn-inscr-g">Programa</button></a>
		</div>
            </div>
		<hr>
		<div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">A conferência Desafio Brasil está dividida em dois momentos.</h3>
		    </div>
            </div>
		<br>
            <div class="row text-center">
                <div class="col-md-6">
                    <img src="img/pilares/i-painel.png" width="120px" alt="painel">
                    <h2 class="service-heading">Painéis</h2>
                    <h4 class="text-muted">
			    As palestras ocorrerão no Centro Cultural FGV e serão abertas ao público geral, bastando fazer sua inscrição. Elas serão compostas por keynote speakers e mesas temáticas para cada um dos pilares.
		    </h4>
		    <h4 class="text-muted">
			Conheça nossos palestrantes abaixo!
		    </h4>
                </div>
                <div class="col-md-6">
                    <img src="img/pilares/i-gt.png" width="120px" alt="grupos de trabalho">
                    <h2 class="service-heading">Grupos de Trabalho</h2>
                    <h4 class="text-muted">
			    Em paralelo as palestras, ocorrerão Grupos de Trabalho exclusivos para nossos convidados. Os Grupos de Trabalho reunirão stakeholders de diversos setores com o objetivando a prospecção de novas parcerias e sinergias ao redor de projetos.
		    </h4>
                </div>
		<div class="col-md-12">
			<a href="material/hor-gt.pdf"> <button class="btn-inscr-b">Programa</button></a>
		</div>
            </div>
        </div>
</section>
